body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  color: white;
}


.about-me-text-container {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.about-me-text-container p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.about-me-text-container span {
  color: #CE0F0F;
  font-weight: 600;
}

.grey-breakline {
  height: 1px;
  margin: 100px auto;
  width: 80%;
  background-color: #979797;
  border-radius: 1px;
}


.scroll-item {
  box-sizing: border-box;
  height: 300px;
  aspect-ratio: 1 / 1;
  background-color: #2A2E30;
  border-radius: 15px;
  border: 1px solid #979797;
  /*box-shadow: 5px 5px 10px 1px darkgrey;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.scroll-item img {
  width: auto;
  height: 100%;
}

.scroller {
  margin: 100px auto;
  max-width: 80%;
}

.scroller-inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1.5rem));
  }
}



@media screen and (max-width: 600px) {
  .about-me-text-container p {
    font-size: 20px;
  }

  .grey-breakline {
    margin: 50px auto;
  }
}

@media screen and (max-width: 1000px) {
  .scroll-item {
    height: 150px;
    padding: 20px;
  }


  .about-me-text-container {
    width: 90%;
  }
}

