body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  color: white;
}

::-moz-selection { /* Code for Firefox */
  background-color: #ce0f0f;
}

::selection {
  color: white;
  background-color: #ce0f0f;
}

.content-container {
  width: 90%;
  height: max-content;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}


.left-container {
  width: 50%;
}

.text-container {
  width: 100%;
  font-size: 32px;
  text-align: left;
}

.text-container p:last-of-type, a {
  font-size: 25px;
}

.text-container a {
  color: #de1b1b;
  font-weight: bold;
}
.text-container a:hover {
  color: #a01416;
}

.grey-breakline {
  margin-left: 20px;
  width: 80%;
  height: 1px;
  background-color: #979797;
}

.inputs-container {
  width: 50%;
}

.inputs-container input {
  color: white;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(0, 0, 0) !important;
  border: none;
  border-bottom: 1px solid #979797;
  padding: 10px;
  padding-left: 20px;
  font-size: 25px;
}


/* Autofill stijlen voor Firefox */
.inputs-container input:-moz-autofill {
  color: white !important; /* Tekst wit maken */
  background-color: rgb(0, 0, 0) !important; /* Achtergrond zwart */
  border-bottom: 1px solid #979797 !important;
}

.inputs-container textarea {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #979797;
  padding: 10px;
  padding-left: 20px;
  font-size: 25px;
  font-family: "SF Pro", sans-serif;
  outline: none;
  resize: none;
}

.inputs-container p {
  font-size: 25px;
  font-weight: 800;
}

.btn {
  box-sizing: box-sizing;
  color: white;
  max-width: 350px;
  width: 100%;
  height: 70px;
  font-family: "SF Pro", sans-serif;
  font-size: 30px;
  font-weight: 600;
  border: 1px solid #979797;
  border-radius: 10px;
  background-color: #32393D;
  padding: 15px;
  transition: all 0.2s;
  margin: 100px 0;
}
.btn:hover {
  cursor: pointer;
  background-color: #de1b1b;
  border: #de1b1b;
  /*box-shadow: 0px 0px 10px 5px white;*/
}
.btn:active {
  background-color: #a01416;
}

@media screen and (max-width: 880px) {
  .content-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    font-size: 28px;
  }

  .inputs-container {
    width: 100%;
  }

  .text-container {
    font-size: 25px;
  }

  .text-container p:last-of-type, a {
    font-size: 20px;
  }


}
