<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
  <title>CONTACT</title>
  <link href="../css/nav-bar.css" rel="stylesheet" />
  <link href="../css/contact.css" rel="stylesheet" />
  <link href="../css/footer.css" rel="stylesheet" />
</head>

<body>
  <nav>
    <div class="sidebar">
      <a class="close-icon" href="#" onclick="CloseSidebar()"><img src="../images/CloseIcon.png" alt="MN logo" /></a>
      <a class="nav-link" href="index.html">HOME</a>
      <a class="nav-link" href="about-me.html">OVER MIJ</a>
      <a class="nav-link" href="projects.html">PROJECTEN</a>
      <a class="nav-link active-tab" href="contact.html">CONTACT</a>
    </div>

    <div>
      <a class="MN-logo-navbar" href="index.html"><img src="../images/MN_logo.png" alt="MN logo" /></a>
      <a class="nav-link hide-on-mobile" href="index.html">HOME</a>
      <a class="nav-link hide-on-mobile" href="about-me.html">OVER MIJ</a>
      <a class="nav-link hide-on-mobile" href="projects.html">PROJECTEN</a>
      <a class="nav-link active-tab hide-on-mobile" href="contact.html">CONTACT</a>
      <a class="nav-link menu-icon" onclick="OpenSidebar()"><img src="../images/HamburgerIcon.png" alt=""></a>
    </div>
  </nav>


  <div class="content-container">
    <div class="left-container">
      <div class="text-container">
        <p>Ik vind het super leuk dat je mijn portfolio hebt bekeken. Als je misschien contact op wil nemen kan dat natuurlijk. Ik hoor graag van je.</p> 
        <div class="grey-breakline"></div> 
        <p>Contact je liever via de mail?</p>
        <a href="mailto:contact@michielnijenhuis.com">contact@michielnijenhuis.com</a>
      </div>

    </div> 
    <form class="inputs-container" action="https://api.web3forms.com/submit" method="POST">
      <input type="hidden" name="access_key" value="de08dff7-641a-4623-9b73-a9cf3ab34b31">
      <p class="input-title">Naam</p> 
      <input type="text" name="naam" value="" placeholder="Je naam" required>
      <p class="input-title">Email</p> 
      <input type="email" name="email" value="" placeholder="jouw@email.com" required>
      <p class="input-title">Bericht</p> 
      <textarea name="message" placeholder="Schrijf hier je bericht" required></textarea>

      <button class="btn" type="submit">Stuur je bericht</button>
    </form>
  </div>


  <footer>
    <div class="flex-container">
      <a href="https://github.com/m-nijenhuis" target="_blank"><img src="../images/github-icon-2.svg" alt="github logo"></a>
      <a href="https://linkedin.com" target="_blank"><img src="../images/linkedin-app-white-icon.webp" alt="linkedin logo"></a>
    </div>
    <p>©Michiel Nijenhuis</p>
  </footer>


  <script src="../javascript/sidebar.js"></script>
  <script src="../javascript/navbarHover.js"></script>
  <script src="../javascript/textareaHeight.js"></script>
</body>

</html>
