<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DANKJEWEL</title>
    <link href="../css/thanks.css" rel="stylesheet">
  </head>
  <body>

    <div class="img-container">
      <img src="../images/MN_logo.png" alt="MN logo">
    </div>

    <div class="text-container">
      <p>Het bericht is verstuurd.</p> 
      <p>Dankjewel voor het sturen van een bericht. Ik zal er zo snel mogelijk naar kijken. Een hele fijne dag verder!</p>
    </div>


      <a href="https://michielnijenhuis.com/contact.html"><button class="btn" type="submit">Ga terug</button></a>
   
  </body>
</html>
